body {
  background-color: red; }

div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: red;
  -moz-box-shadow: red;
  box-shadow: red; }
